.active{
    /* background-color: white; */
    background: linear-gradient(to right, #ef4444, #000);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    color: white;
    opacity: 0.8;
}