<section class="bg-amber-50/10 w-full max-w-[1500px] mx-auto mt-10 rounded-2xl p-4 sm:p-6 lg:p-8">
  <app-home-cart></app-home-cart>
  <h2 class="text-xl sm:text-2xl lg:text-3xl text-white font-bold mb-6 text-center">
    Featured Cars
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6">

    @for(fCars of featuredCars; track fCars.id){
      <div class="bg-black/40 rounded-xl p-3 sm:p-4 text-white hover:scale-[1.02] transition">
        
        <img 
          [ngSrc]="fCars.img" 
          width="300" 
          height="300" 
          class="rounded-lg mb-3 w-full aspect-square object-cover"
        />

        <h3 class="text-base sm:text-lg lg:text-xl font-bold">
          {{fCars.name}}
        </h3>

        <p class="text-gray-300 text-xs sm:text-sm lg:text-base">
          {{fCars.description}}
        </p>

      </div>
    }

  </div>
</section>