<div class="flex justify-center mt-6 px-4">
    <div class="relative w-full max-w-[1400px] h-[300px] sm:h-[400px] lg:h-[500px] rounded-2xl overflow-hidden">
  
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKChG8qiKh8lzpehEthi1jXOyWIwxaN8qsfA&s"
        class="w-full h-full object-cover"
        alt=""
      />
  
      <div class="absolute inset-0 bg-black/60 flex flex-col justify-center items-center text-center text-white px-4 sm:px-6">
  
        <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold mb-4">
          Drive Your Dream Car
        </h1>
  
        <p class="max-w-[600px] mb-4 text-gray-200 text-sm sm:text-base">
          Discover luxury, performance, and reliability in one place. Find the perfect car that matches your lifestyle.
        </p>
  
        <p class="text-2xl sm:text-3xl lg:text-5xl mt-5 fade-slide-up">
          Welcome To Turbo & Drift
        </p>
  
        <button class="bg-gradient-to-r from-red-500 to-black text-white py-2 px-4 cursor-pointer ms-2 rounded-md font-bold
        hover:from-red-600 hover:to-black transition-all shadow-md mt-6 sm:mt-10" (click)="register()">
          Register Now Sir
        </button>
  
      </div>
    </div>
  </div>