<div class="flex justify-center mt-6 px-3 sm:px-4">
  <div class="relative w-full max-w-[1400px] h-[250px] sm:h-[350px] lg:h-[500px] rounded-2xl overflow-hidden shadow-xl">

    <img
      src="https://preview.redd.it/the-best-eyes-v0-uheeh5lpru891.jpg?width=640&crop=smart&auto=webp&s=b08f7a7fa9768b777fa161c42dcedde8aa21d400"
      class="w-full h-full object-cover scale-105 sm:scale-100"
      alt=""
    />

    <div class="absolute inset-0 bg-black/60 flex flex-col justify-center items-center text-center text-white px-4 sm:px-6 lg:px-10">

      <h1 class="text-xl sm:text-3xl lg:text-5xl font-bold mb-3 sm:mb-4">
        Drive Your Dream Car
      </h1>

      <p class="max-w-[600px] mb-3 sm:mb-4 text-gray-200 text-xs sm:text-base lg:text-lg leading-relaxed">
        Discover luxury, performance, and reliability in one place. Find the perfect car that matches your lifestyle.
      </p>

      <p class="text-xl sm:text-3xl lg:text-6xl mt-3 sm:mt-5 fade-slide-up font-extrabold tracking-wide">
        Welcome To Turbo & Drift
      </p>

      <button
        class="bg-gradient-to-r from-red-500 to-black text-white py-2 sm:py-3 px-4 sm:px-6 cursor-pointer rounded-md font-bold
        hover:from-red-600 hover:to-black transition-all shadow-md mt-5 sm:mt-8 lg:mt-10 text-sm sm:text-base"
        (click)="register()"
      >
        Register Now Sir
      </button>

    </div>

  </div>
</div>